<form action="/products/addItem" method="POST">
  <div class="row g-3">
    <div class="col-sm-7">
      <input type="text" class="form-control" name="name" placeholder="name" aria-label="Producto">
    </div>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="stock" placeholder="stock" aria-label="State">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" name="prize" placeholder="prize" aria-label="Zip">
    </div>
  </div>


  <button class="btn btn-primary" type="submit">Agregar</button>
</form>