<div style="border: 1px solid, width: 400px; height:300px">
    <p>{{id}}</p>
    <p>{{name}}</p>
    <p>Desea borrar este producto?</p>

    <a href="/profile/Delete/{{id}}">
                        <input type="button" value="Borrar" class="btn-borrar">
            </a>
    <a href="/profile"><input type="button" value="cancelar"></a>
</div>